/* IMPORTING GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*------------------------------------
    DECLARING SOME COLOR VARIABLES 
 ------------------------------------*/
:root{
    --bg-color: #2D25A0;
    --text-color-one: #FFFFFF;
    --text-color-two: #18191F;
    --text-color-dark: #000000;
    --text-color-light: #6C6C6C;
    --button-color: #E02C6D;
}

/*------------------------------------
            GLOBAL STYLES
 ------------------------------------*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
p{
    color: var(--text-color-light);
    font-size: 16px;
}

h2{
    color: var(--text-color-two);
}

section{
    margin-top: 70px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;   
}

/*------------------------------------
            HEADER STYLES 
 ------------------------------------*/
.top-header{
    max-width: 100%;
    height: 100%;
    background-color: var(--bg-color);
}
.top-navigation{
    display: flex;
    justify-content: space-between;
}

.top-navigation span{
    margin: 42px 5% 49px 5%;
}

.top-navigation span a{
    text-decoration: none;
    color: var(--text-color-one);
    margin-right: 36px;
    font-size: 16px;
}
.button{
    text-decoration: none;
    background-color: var(--button-color);
    color: var(--text-color-one);
    padding: 10px 24px;
}

.fa-sign-in-alt{
    margin-right: 8px;
}

.top-banner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.top-banner img{
    margin-top: 80px;
    width: 560px;
    height: 438px;
    margin-bottom: 47px;

}

.banner-heading{
    font-size: 64px;
    font-weight: bold;
    color: var(--text-color-one);
    margin-bottom: 27px;
}

.fa-arrow-right{
    margin-left: 8px;
}

/*------------------------------------
        STYLES FOR PLAYER CARDS 
 ------------------------------------*/

.player-cards-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 30px;
    row-gap: 27px;
}



.player-card{
    width: 300px;
    height: 470px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.card-img img{
    width: 300px;
    height: 256px;
}

.card-body{
    margin-top: 16px;
    
}

.card-body h2{
    text-align: justify;
    padding: 5px;
}

.card-body p{
    text-align: justify;
    padding: 5px;
    font-size: 16px;
}
/*------------------------------------
        STYLES FOR MATCHES 
 ------------------------------------*/
.matches{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 3px;
    padding-left: 3px;
}

.match-about{
    width: 466px;
}

.match-about h1{
    font-size: 48px;
    font-weight: bold;
}

.match-about p{
    margin-top: 8px;
    padding-right: 100px;
}

.match-img img{
    width: 567px;
    height: 427px;
}

.watch-live{
    margin-top: 34px;
}
/*------------------------------------
        STYLES FOR BONUS PARTS 
 ------------------------------------*/
.blogs-heading{
    text-align: center;
    margin-bottom: 3%;
}

.blogs{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.blog{
    width: 450px;
    padding: 16px;
    margin: 0 2% 0;
    box-shadow: 0px 0px 10px rgba(66, 60, 60, 0.301);

}
.blog p,.blog h2,.blog a{
    padding: 5px;
    text-align: justify;
}

.blog-img img{
    width: 450px;
}

.news-teller{
    width: 50%;
    padding: 50px;
    margin: auto;
    position: relative;
}

.news-teller h2, .news-teller h6{
    text-align: center;
}

.news-teller-input{
    margin: auto;
    text-align: center;
    margin-top: 20px;
}

.news-teller-input input{
    height: 28px;
    width: 300px;
    border-radius: 3px;
    padding: 10px;
    margin-right: 0.5em;
    
}

.football-img img{
    height: 100px;
    width: 100px;
    position: absolute;  
    animation: slide 3s ease-in-out 0.3s infinite alternate-reverse;
    animation-play-state: running;         
}
/* ANIMATION */
@keyframes slide {
    0%{
        left: 0;
        top:0;
        
    }
    25%{
        top: 0;
    }
    50%{
        top: 50%;
        transform: scale(0.8);
    }
    75%{
        top: 0;
    }
    100%{
        left: 90%;
        top: 0;

    }
}
/*------------------------------------
        STYLES FOR FOOTER 
 ------------------------------------*/
footer div{
    margin-bottom: 20px;
}

footer div p{
    font-size: 18px;
    font-weight: 400;
    color: var(--text-color-dark);
}

.footer-img img{
    width: 484px;
    height: 110px;
    margin: auto;
}

.fab{
    background-color: #969bab46;
    border-radius: 50%;
    padding: 9.6px 8.5px;
    color: #969BAB;
    margin-right: 14px;
    font-size: 12px;
}

.fab:hover{
    background-color: var(--bg-color);
    color: white;
}
/*------------------------------------
        RESPONSIVE FOR MOBILES 
 ------------------------------------*/

@media only screen and (max-width:687px){
    *{
        overflow-x: hidden;
    }

    .top-navigation{
        display: none;
    }
    .top-banner{
        flex-direction: column;
        align-items: flex-start;
    }

    .top-banner div{
        overflow-y: hidden;
    }

    .banner-heading{
        font-size: 36px;
    }
    .banner-heading{
        margin: 112px 66px 30px 16px ;
    }
    .banner-heading .button{
        margin-bottom: 50px;
    }
    .top-banner:last-child{
        margin-left: 19px;
    }
    .top-banner img{
        margin-top: 30px;
        margin-bottom: 61px;
        width: 329px;
        height: 259.17px;
    }
    .player-cards{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        column-gap: 30px;
        row-gap: 27px;
    }
    .player-card{
        margin-right: 15px;
        margin-left: 15px;
    }
    section{
        margin-top: 47px;
    }

    .matches{
        flex-direction: column;
    }

    .match-about{
        width: 90%;
        padding: 5px;
    }


    .match-about h1{
        font-size: 30px;
    }
    .match-about p{
        padding-right: 30px;
    }
    .match-img img,.blog-img img{
        width: 328px;
        height: 248px;
        margin-right: 16px;
        margin-left: 16px;
        margin-top: 29px;

    }
    .blogs{
        flex-direction: column;
        align-items: center;
    }
    .blog{
        width: 350px;
        padding: 16px;
        margin: 0 2% 0;
        box-shadow: 0px 0px 10px rgba(66, 60, 60, 0.301);
    }
    .news-teller{
        width: 90%;
        padding: 10px;
        margin: auto;
        position: relative;
    }
    .news-teller-input{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
    }

    .news-teller-input a{
        margin-top: 20px;
    }
    .football-img img{
        height: 80px;
        width: 80px;
    }
    @keyframes slide {
        0%{
            left: 0%;
            top:0;
            
        }
        25%{
            top: 0;
        }
        50%{
            top: 110px;
        }
        75%{
            top: 0;
        }
        100%{
            left: 80%;
            top: 0;
    
        }
    }

    .footer-img img{
        width: 85%;
        padding: 5px;
    }

}

/*-----------------------------------------------
    RESPONSIVE FOR LOW END LAPTOPS AND TABLETS
 ------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width:1024px){
    *{
        overflow-x: hidden;
        margin: 1%;
    }

    .top-navigation{
        display: none;
    }

    .player-cards{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 30px;
        row-gap: 27px;
    }
    .player-card{
        overflow: hidden;
    }

    .match-img img{
        width: 400px;
        height: 327px;
    }
    .banner-heading{
        font-size: 40px;
        font-weight: bold;
        color: var(--text-color-one);
        margin-bottom: 7px;
    }
    .fa-arrow-right{
        display: inline;
    }
    .news-teller{
        width: 100%;
        padding: 50px;
        margin: auto;
        position: relative;
    }
    @keyframes slide {
        0%{
            left: 0;
            top:0;
            
        }
        25%{
            top: 0;
        }
        50%{
            top: 160px;
        }
        75%{
            top: 0;
        }
        100%{
            left: 80%;
            top: 0;
    
        }
    }
    .social-icons{
        margin: 0;
        text-align: center;
        display: flex;
    }

    footer div p{
        margin: 0;
    }

    .match-about h1{
        font-size: 38px;
        font-weight: bold;
    }
}

